import(Rsamtools)
import(doParallel)
import(methods)
import(stringr)
import(Biostrings)
import(matrixStats)
import(foreach)
import(IRanges)
importFrom(GenomicRanges, GRanges)
export(snpDiff,indelDiff)
